.banner {
    background: url("gozeal1.jpg")
      no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
  }
  
  .lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
  }
  
  .lingkaran i {
    position: relative;
    top: 30px;
  }
  
  .crop-img {
    object-fit: cover;
  }
  
  .tim img {
    width: 250px;
    border: 10px solid #cccccc;
  }
  
  a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
  }
  
  .client img {
    height: auto;
    max-height: 50px;
  }
  
  .kontak {
    background: url("https://images.adsttc.com/media/images/672a/0b20/3dfd/b47f/e3e2/68ac/slideshow/gozeal-store-wanawa-studio_9.jpg?1730808626") no-repeat
      center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #141414;
  }